# GCP Config
GCP_PROJECT_ID=nick-coder
GCP_REGION=us-west1
GCP_ZONE=us-west1-a

# Coder Config
# Set these after initial deployment to allow the Coder CLI to connect
CODER_ACCESS_URL=
CODER_SESSION_TOKEN=
